.navbar-default .navbar-nav>li>a{
    color: #0CAA41;
}

.navbar-default .navbar-brand {
    color: #0CAA41;
}
.size   {
     margin-top: 10vh;
    font-size: 27px;
}

.wit    {
     width: 100%; 
}
.size1  {
    font-size: 15px;
}
.color  {
    color: #0CAA41;
}
.col {
    background-color: whitesmoke;
    
}
.co {
    color: white;
}
.coo    {
    color: black;
}

.full-font  {
 font-family: 'Lustria', serif;
}