/* BOOTSTRAP OVERRIDES */
/*
.navbar-default{
    background: transparent;
    border: 0 none;
}
*/
.navbar-default .navbar-nav>li>a{
    color: #0CAA41;
}

.navbar-default .navbar-brand{
    color: #0CAA41;
}


/* BOOTSTRAP OVERRIDES END */
.fullcolor  {
    color: whitesmoke;
    background-color: #404040;
}


.fullback   {
    background-color: white;
}

.wit    {
    width: 100%;
    border-color: transparent;
    color: #1861bf;
}

.star   {
    color: #0CAA41;
    border-color: transparent;
}
.trend  {
    color: #1861bf;
    border-color: transparent;
}

.save   {
    color: #0CAA41;
    border-color: #0CAA41;
}

.margin {
    margin-top: 10vh;
}

.bac    {
    background-color: whitesmoke;
}

.back   {
    background-color: #0CAA41;
}

.color {
    color: #0CAA41;
}

.full-font  {
 font-family: 'Lustria', serif;


}

.coo    {
    color: whitesmoke;
}

.cool   {
    color: black;
}

.list-inline    {
    color: #0CAA41;
}

.media .media-heading   {
    color: #1861bf;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    
}