/* BOOTSTRAP OVERRIDES */
/*
.navbar-default{
    background: transparent;
    border: 0 none;
}
*/
.navbar-default .navbar-nav>li>a{
    color: #0CAA41;
}

.navbar-default .navbar-brand{
    color: #0CAA41;
}


/* BOOTSTRAP OVERRIDES END */



.margin {
    margin-top: 10vh;
}

.back   {
    background-color: #0CAA41;
}

.color {
    color: #0CAA41;
}

.full-font  {
 font-family: 'Lustria', serif;


}


.border {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    
}