/* BOOTSTRAP OVERRIDES */
/*
.navbar-default{
    background: transparent;
    border: 0 none;
}
*/
.navbar-default .navbar-nav>li>a{
    color: #0CAA41;
}

.navbar-default .navbar-brand{
    color: #0CAA41;
}


/* BOOTSTRAP OVERRIDES END */


/*
.hover:hover {
    background-color: transparent;
}
*/
.border {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    
}


.search-splash{
    height: 600;
    background: url('https://www.incimages.com/uploaded_files/image/1940x900/getty_477541648_2000133320009280119_86555.jpg') center center no-repeat;
    background-size: cover;
}

.search-container{
    margin-top: 1vh;
}
.search-container-2{
    margin-top:5vh;
}


.we   {
    width: 100%;
}
.col    {
    margin-top: 35vh;
    font-size: 55;
    color: #ffffff;
}
.color {
    color: #0CAA41;
}
.fullcolor  {
    color: whitesmoke;
    background-color: #404040;
}
.colo   {
    color: whitesmoke;
}
.coo    {
    color: whitesmoke;
}


.fontcol    {
    color: black;
}

.full-font  {
 font-family: 'Lustria', serif;


}

.hiring {
    color: #ffffff;
    font-size: 60;
}

.back   {
    background-color: #0CAA41;
}



.product-icon i.icon-thumbprint {
    width: 47px;
    margin-right: 4px;
    background-image: url(http://static.glassdoor.com/pc/static/img/scaled/thumb.svg?v=bf2dd93dr);
}


.que    {
    background-color: whitesmoke;
}