/* BOOTSTRAP OVERRIDES */

.navbar-default .navbar-brand {
    color: limegreen;
}
/* BOOTSTRAP OVERRIDES END */
.search-container{
       
    margin-top: 1vh;
}
.search-container-1{
    margin-top: 13vh;
}
.wit    {
     width: 100%; 
}
.color  {
    color: green;
}
.size   {
    font-size: 17px;
}