/* BOOTSTRAP OVERRIDES */
/*
.navbar-default{
    background: transparent;
    border: 0 none;
}
*/
.navbar-default .navbar-nav>li>a{
    color: #0CAA41;
}

.navbar-default .navbar-brand{
    color: #0CAA41;
}


/* BOOTSTRAP OVERRIDES END */

.back   {
    background-color: #0CAA41;
}


.full-font  {
 font-family: 'Lustria', serif;
}

.margin {
    margin-top: 10vh;
}

.wit    {
    width: 100%;
}

.color  {
    color: #0CAA41;
}

.co {
    color: royalblue;
    border-color: royalblue;
}

.c  {
    color: whitesmoke;
}

.coo    {
    color: black;
}

.size   {
    font-size: 70px;
}

.border {
    border-style: solid;
    border-width: 1px;
    border-color: lightgray;
    
}

.bor    {
    border-style: solid;
    border-width: 7px;
    border-color: whitesmoke;
}

.fullback   {
    background-color: whitesmoke;
}

.fsize  {
    font-size: 20px;
}


.wi {
    width: 201px;
}

.deleteborder   {
   border-color: transparent;
}


.bac    {
    background-color: white;
}


.thumb  {
    border-color: transparent;
}


$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})


