.navbar-default .navbar-brand {
    color: limegreen;
}
.size   {
     margin-top: 10vh;
    font-size: 27px;
}

.wit    {
     width: 100%; 
}
.size1  {
    font-size: 15px;
}
.color  {
    color: green;
}
.col {
    background-color: whitesmoke;
    
}