/* BOOTSTRAP OVERRIDES */
.navbar-default .navbar-nav>li>a{
    color: #0CAA41;
}

.navbar-default .navbar-brand {
    color: #0CAA41;
}
/* BOOTSTRAP OVERRIDES END */
.search-container{
       
    margin-top: 1vh;
}
.search-container-1{
    margin-top: 13vh;
}
.wit    {
     width: 100%; 
}
.color  {
    color: #0CAA41;
}
.size   {
    margin-top: 10vh;
    font-size: 17px;
}
.coo    {
    color: black;
}

.full-font  {
 font-family: 'Lustria', serif;
}